<div style="background-color: white; padding: 0 50px 0 50px;">
<h1 style="text-align: center">Admin Page</h1>

<h3>Users</h3>
<% @users.each do |user| %>
  <p><%= user.email %></p> 
<% end %>

<h3>Subscriptions</h3>
<% @subscriptions.each do |subscription| %>
    user: <%= find_user(subscription.user_id) %>,  
    shirt type: <%= subscription.gender %>, 
    size: <%= subscription.size %>, 
    address: <%= subscription.address %>, 
    city: <%= subscription.city %>, 
    country: <%= subscription.country %>, 
    postal code: <%= subscription.postal_code %> 
  <hr>
<% end %>
</div>
